<section class="contact-container">
    <section>
        <p><h1>CONTACT</h1></p>
        <p>If you would like to send me a message, my most up-to-date contact info can be found at the sites below:</p>
    </section>
    <section>
        <a href="https://linkedin.com/in/stevenkussmaul">
            <img class="contact-icon" src="/app/images/linkedin-icon.png" alt="linkedin icon">
            <p>linkedin</p>
        </a>
    </section>
    <section>
        <a href="https://github.com/stevenkussmaul/">
            <img class="contact-icon" src="/app/images/github-icon.png" alt="github icon">
            <p>github</p>
        </a>
    </section>
</section>