<section class="homepage-container">
        <section class="homepage-container-left">
                <p><h1>ABOUT ME</h1></p>
                <p>As a former electrical engineer, I discovered my passion for coding while delivering highly-structured solutions to mechanical designs. Now, as a front-end web developer, I am looking to match that experience with dynamic people in fresh, creative ways.</p>

        </section>
        <section class="homepage-container-right">


        </section>

</section>